@tailwind base;
@tailwind components;
@tailwind utilities;


@media (min-width: 768px) {
  .body {
    margin-left: 30px;
    margin-right: 30px;
  }
}


  .vertical-text {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    letter-spacing: 0.1em;
  }